@use "../../Styles/partials/global" as *;
@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.main{

    &__player{
        width: 100%;
        height:auto;
        padding: 0rem 1rem;
        margin: auto;
        background-color: $brainflix-darkblack;
        @include tablet{
            width: 100%;
            height: auto;
            padding: 0rem 2.25rem; 
        }
        @include desktop{
            max-width: 100%;
            height: auto;
            padding: 0rem 9.375rem;
        }

    }

}