@use "../../Styles/partials/global" as *;
@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.sidebar{
    padding-left: 1.5rem;

    @include desktop{
        width: 23.75rem;
        border-left: 0.0625rem solid $mercury;
    }
    &__title{
        margin: 1rem 0rem;
        color: $silver;
        @include tablet{
            margin-bottom: 1rem;
            @include tablet-h3;
        }
        @include desktop{
            @include tablet-h3;
        }
    }
    &__video-items{
        display: flex;
        flex-direction: row;
        padding-bottom: 1.5rem;
    }
    &__video-info{
        padding-left: 1rem;
    }
    &__video-title{
        padding-top: 0.625rem;
        padding-bottom: 1.875rem;
        @include tablet{
            @include tablet-h3;
        }
        @include desktop{
            @include tablet-h3;
        }
    }
    &__video-channel{
        padding-top: 1rem;
        @include tablet{
            @include tablet-p;
        }
        @include desktop{
            @include tablet-p;
        }
    }
    &__thumbnail{
        width: 10rem;
        height: auto;
        border-radius: 0.25rem;
    }
}