@use "../../Styles/partials/global" as *;
@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.sidebar{
    padding-left: 1.5rem;

    @include desktop{
        width: 23.75rem;
        border-left: 0.0625rem solid $mercury;
    }
    &__title{
        margin: 1rem 0rem;
        color: $silver;
        @include tablet{
            margin-bottom: 1rem;
            @include tablet-h3;
        }
        @include desktop{
            @include tablet-h3;
        }
    }
}